#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}
body {
  background-color: white;
  color: black;
}
.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-iron {
  color: #0a035a;
}
.list {
  border: solid #0a035a 2px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.photos {
  width: 300px;
  height: 200px;
}
.bold {
  font-weight: bold;
}
.italics {
  font-style: italic;
}
.display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-left: 20px;
}
.writing {
}
