#root {
  width: 100%;
  margin: 0;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-iron {
  color: #0a035a;
}

.TravelList {
  display: flex;
  margin: 1vh;
  padding: 2vh;
  width: 70vw;
  border: 1px solid black;
}

.TravelList img {
  width: 50%;
}

.TravelList .info {
  margin: 0 1vh;
}

button {
  margin: 0.5vh;
}

.blue {
  background-color:lightskyblue;
  color: white;
}

.green {
  background-color:green;
}