#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-iron {
  color: #0e066a;
}

p {
  color: blue;
}

h1 {
  color: darkblue;
}

h2 {
  color: darkblue;
}

h3 {
  color: darkblue;
}


.div2 {
  color: darkblue;
}

.travel-plan {
  display: flex;
  border: 1px solid black;
  margin-bottom: 20px; 
  padding: 10px;
}

.plan-image {
  width: 300px; 
  height: auto;
  margin-right: 20px; 
  object-fit: cover;
}

.plan-details {
  flex: 1; /
}



.label {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.great-deal {
  background-color: green ;
}

.premium {
  background-color: blue ;
}

.all-inclusive {
  background-color:blue ;
}
