#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-iron {
  color: #0a035a;
}
.travelList {
  margin: 5px;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20vw;
}
.myImg {
  width: 100%;
  height: 90%;
  object-fit: cover;
}
.travenInfo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.labelContainer label {
  background-color: rgb(28, 75, 185);
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.greatDeal {
  background-color: green;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.deletBtnContainer {
  margin-left: 20px;
}
