#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-iron {
  color: #0a035a;
}

.destination {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 25px 50px;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.destination__image {
  width: 300px;
  height: auto;
}

.destination__text {
  flex: 1;
  padding: 10px;
  text-align: left;
}

.destination p {
  display: flex;
  gap: 7px;
  flex-direction: column
}