body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div,
section,
main {
  box-sizing: border-box;
}

nav {
  background: #cec8db;
  color: white;
  padding: 0px 20px;
  box-shadow: 0px 1px 2px gray;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

nav p {
  color: white;
  margin-left: 0px;
  font-size: 24px;
  font-weight: 600;
}

h2 {
  padding: 15px 30px;
  border: 1px solid #6d6d6d;
  background: lightcyan;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
}

h3 {
  padding: 5px 50px;
  display: inline-block;
}

button,
select {
  padding: 3px 10px;
  min-width: 50px;
  height: 40px;
  margin: 5px;
  font-size: 1rem;
}

.App {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.list {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin-bottom: 20px;
  background: white;
}

.list > li,
.list > p,
.list > div {
  margin: 10px;
  border: 1px solid #f98a8a;
}
.destination-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 40%;
  margin: 10px auto; /* Center the card horizontally */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex-wrap: wrap; /* Allow content to wrap to the next line if needed */
}

.card-content {
  display: flex;
  align-items: center;
}

.card-content img {
  max-width: 150px;
  margin-right: 20px;
}

.destination-card h3,
.destination-card p {
  margin: 0;
}
.label {
  padding: 8px 16px;
  font-weight: bold;
  margin-top: 5px;
  display: block; /* Change to block */
  background-color: #3498db;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border: 2px solid #3498db;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.AllInclusiveLabel {
  background-color: #2980b9;
  border-color: #2980b9;
}

.GreatDealLabel {
  background-color: #27ae60;
  border-color: #27ae60;
}

.PremiumLabel {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.StandardLabel {
  background-color: #333;
  border-color: #333;
  color: white;
}

.label:hover {
  background-color: #2c3e50;
  border-color: #2c3e50;
  color: #ffffff;
}
