:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: gray;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.Plan {
  display: flex;
  border: 1px solid black;
  padding: 20px;
  gap: 20px;
}

.VerticalImage {
  width: 100%;
}

.HorizontalImage {
  width: 50%;
}

.Favorite {
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 1px solid black;
  text-align: center;
  padding-bottom: 10px;
}

.Labels {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.BlueLabel {
  background-color: cornflowerblue;
  padding: 3px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.GreenLabel {
  background-color: forestgreen;
  padding: 3px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.MainDiv {
  display: flex;

  gap: 20px;
}

.List {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Favorites {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Info {
  text-align: left;
  width: 100%;
}

.InfoFavorite {
  text-align: center;
}

.Buttons {
  display: flex;
  justify-content: space-between;

  width: 100%;
}
